@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

* , *::before, *::after {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    position: relative;
    width: 1372px;
    height: 659px;
    background: radial-gradient(50% 50% at 50% 50%, #050B2C 0%, #000000 100%), #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.mainlogo-nav{
    position: absolute;
    width: 258px;
    height: 180px;
    left: 545px;
    top: 239px;
    background: url(jigyasa 4.png);
}

.bglogo-nav{
    position: absolute;
    width: 1346px;
    height: 468px;
    left: -86px;
    top: 107px;
    opacity: 0.02;    
}

.circuitupleft-nav{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: -44px;
    top: -68px;
    opacity: 0.05;
    background-blend-mode: overlay;
}

.circuitbottomright-nav{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 25px;
    top: -235px;
    opacity: 0.15;
    transform: rotate(-180deg);
}

.circuitbottomleft-nav{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: -86px;
    top: -235px;
    opacity: 0.15;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.circuitupright-nav{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: -25px;
    top: -69px;
    opacity: 0.15;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.circle-nav{
    position: absolute;
    width: 710px;
    height: 659px;
    left: 331px;
    top: 0px;
}

.rules-nav{
    position: absolute;
    width: 167px;
    height: 67px;
    left: 350px;
    top: 099px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 72px;

    color: #FFFFFF;

}

.prize-nav{
    position: absolute;
    width: 156px;
    height: 68px;
    left: 904px;
    top: 152px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 96px;

    color: #FFFEFE;
}

.signup-nav{
    position: absolute;
    width: 278px;
    height: 108px;
    left: 292px;
    top: 478px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 108px;



    color: #FFFFFF;
}

.aboutabc-nav{
    position: absolute;
    width: 354px;
    height: 92px;
    left: 836px;
    top: 547px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 72px;

    color: #FFFFFF;

}